{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>PATIENT-PAGE</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>
<div class="main-wrapper">
		
	<!-- Header -->
	<header class="header">
        <nav class="navbar navbar-expand-lg header-nav" style="padding-right:200px;">			<div class="navbar-header">
				<a id="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				<a href="index-2.html" class="navbar-brand logo">
					<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
				</a>
			</div>
			<div class="main-menu-wrapper">
				<div class="menu-header">
					<a href="index-2.html" class="menu-logo">
						<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
				</div>
				<ul class="main-nav">
					<li class=" main-nav">
						<a href="{% url 'doctors_basedoctor' %}">Home</a>
					</li>
                   
                    <li class="active">
						<a href="{% url 'doctors_appointments' %}">Appointments</a>
					</li>
					<li class="has-submenu">
                        <a href="#">Patients <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="{% url 'mypatients' %}">My Patients</a></li>
                        </ul>
                        
                    </li>
                    <li class="has-submenu">
                        <a href="#">Dashboard <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a href="{% url 'profileset' %}">Profile Settings</a></li>
                            <li><a href="{% url 'patientappointment' %}">Change Password</a></li>
                            
                        </ul>
                    </li>
					{% if user.is_authenticated %}
					<li class="has-submenu">
						<a href="#"><i class="fa fa-user-circle"></i></a>
						<ul class="submenu">
                            <li><a>{{ user.username }}</li></a>
							<li><a href="{% url 'loggout' %}">Logout</li></a>
						</ul>
					</li>
					{% else %}
					<li><a href="{% url 'login_page' %}">Login</a></li>				
					{% endif %}
						</ul>
					</li>

				</ul>		 
			</div>		 
		</nav>
	</header>
    <!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Appointments</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Appointments</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
	<!-- Page Content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Patient Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for appointment in appointments %}
                                    <tr>
                                        <td>{{appointment.user.userprofile.name }}</td>
                                        <td>{{ appointment.app_date }}</td>
                                        <td>{{ appointment.app_time }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">No Appointments</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

   
                {% comment %} <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="appointments">
                        {% for appointment in appointments %} {% endcomment %}
                        <!-- Appointment List -->
                        {% comment %} <div class="appointment-list">
                            <div class="profile-info-widget">
                                <a href="patient-profile.html" class="booking-doc-img">
                                    {% if appointment.user.userprofile.profile_pic %}
                                    <img src="{{ appointment.user.userprofile.profile_pic.url }}" alt="User Image">

                                    {% else %}
                                    <img src="" alt="User Image">
                                    {% endif %}
                                </a>
                                <div class="profile-det-info">
                                    <h3><a href="patient-profile.html">{{ appointment.user.userprofile.name }}</a></h3>
                                    <div class="patient-details">
                                        <h5><i class="far fa-clock"></i>{{ appointment.app_date }} {{ appointment.app_time }}</h5>
                                        <h5><i class="fas fa-map-marker-alt"></i> {{ appointment.user.userprofile.age }}</h5>
                                        <h5><i class="fas fa-envelope"></i> {{ appointment.user.userprofile.email }}</h5>
                                        <h5 class="mb-0"><i class="fas fa-phone"></i>{{ appointment.user.userprofile.phone_number }}</h5>
                                    </div>
                                </div>
                            </div>
                            
                        </div> {% endcomment %}
                        {% comment %} {% empty %}
                        {% comment %} No Appointments {% endcomment %}
                        {% comment %} {% endfor %} {% endcomment %} 
                        <!-- /Appointment List -->
                    
                       
                        
                    </div>
                </div>
            </div>

        </div>

    </div>		
    <!-- /Page Content -->
	  
	

	<script src="{% static 'assets/js/jquery.min.js'%} " ></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'assets/js/popper.min.js'%}">
	</script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	
	<!-- Slick JS -->
	<script src="{% static 'assets/js/slick.js'%}"></script>
	
	<!-- Custom JS -->
	<script src="{% static 'assets/js/script.js'%}"></script>

</body>
</html>