    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>PATIENT-PAGE</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
    <style>
        /* Custom CSS for additional styling */
        .form-group {
            margin-bottom: 20px;
        }

        .medical-history {
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-left:150px;
        }
    </style>

</head>
<div class="main-wrapper">
		
	<!-- Header -->
	<header class="header">
        <nav class="navbar navbar-expand-lg header-nav" style="padding-right:200px;">			<div class="navbar-header">
				<a id="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				<a href="index-2.html" class="navbar-brand logo">
					<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
				</a>
			</div>
			<div class="main-menu-wrapper">
				<div class="menu-header">
					<a href="index-2.html" class="menu-logo">
						<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
				</div>
				<ul class="main-nav">
					<li class="active">
						<a href="{% url 'doctors_basedoctor' %}">Home</a>
					</li>
					{% comment %} <li class="active">
						<a href="{% url 'doctors_basedoctor' %}">Detections</a>
					</li>
					<li class="main-nav">
						<a href="{% url 'doctors_basedoctor' %}">Refer a Patient</a>
					</li> {% endcomment %}
                    <li class="main-nav">
						<a href="{% url 'doctors_appointments' me.id %}">Appointments</a>
					</li>
					<li class="has-submenu">
								<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'mypatients' me.id %}">My Patients</a></li>
                                    {% comment %} <li><a href="{% url 'patientprofile' %}">Patients Medical Records</a></li> {% endcomment %}
								</ul>
                                
							</li>
						
							<li class="has-submenu">
								<a href="#">Dashboard <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
                                    <li><a href="{% url 'profileset' %}">Profile Settings</a></li>
								</ul>
							</li>
					{% if user.is_authenticated %}
					<li class="has-submenu">
						<a href="#"><i class="fa fa-user-circle"></i></a>
						<ul class="submenu">
                            <li><a>{{ user.username }}</li></a>
							<li><a href="{% url 'loggout' %}">Logout</li></a>
						</ul>
					</li>
					{% else %}
					<li><a href="{% url 'login_page' %}">Login</a></li>				
					{% endif %}
						</ul>
					</li>

				</ul>		 
			</div>		 
		</nav>
	</header>
    <!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Edit Medical Records</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Edit Medical Records</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
            
            <main>
                <div class="container">
                     {% comment %} <section class="patient-info">
                        <h2>Patient Information</h2>
                        <div class="form-group">
                            <label for="patient_name">Name:</label>
                            <input type="text" id="patient_name" name="patient_name" value="{{ user.userprofile.name }}" >
                        </div>
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="number" id="age" name="age" value="{{ user.userprofile.age }}">
                        </div>
                        <div class="form-group">
                            <label for="bloodgroup">Blood group:</label>
                            <input type="number" id="bloodgroup" name="bloodgroup" value="{{ user.userprofile.blood_group }}">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <select id="gender" name="gender" required>
                                <option value="male" {% if gender == 'male' %}selected{% endif %}>Male</option>
                                <option value="female" {% if gender == 'female' %}selected{% endif %}>Female</option>
                                <option value="other" {% if gender == 'other' %}selected{% endif %}>Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contact_number">Contact Number:</label>
                            <input type="tel" id="contact_number" name="contact_number" value="{{ user.userprofile.phone_number }}">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" value="{{ user.userprofile.email }}">
                        </div>
                    </section> {% endcomment %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <!-- Personal Details -->
                        <section class="personal-details">
                            <h2>Personal Details</h2>
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" id="patient_name" name="patient_name" class="form-control" value="{{ user.userprofile.name }}">
                            </div>
                            <div class="form-group">
                                <label for="age">Age:</label>
                                <input type="number" id="age" name="age" class="form-control" value="{{ user.userprofile.age }}">
                            </div>
                        
                    
                        <!-- Medical History -->
                        
                            <h2>Medical History</h2>
                            <div class="form-group">
                                <label for="presenting_symptoms">Presenting Symptoms:</label>
                                <input type="text" id="presenting_symptoms" name="presenting_symptoms" class="form-control" value="{{ request.POST.presenting_symptoms }}">
                            </div>
                            <div class="form-group">
                                <label for="allergies">Allergies:</label>
                                <input type="text" id="allergies" name="allergies" class="form-control" value="{{ request.POST.allergies }}">
                            </div>
                        
                    
                        <!-- Diagnostic Workup -->
                     
                            <h2>Diagnostic Workup</h2>
                            <div class="form-group">
                                <label for="colonoscopy_findings">Colonoscopy Findings:</label>
                                <input type="text" id="colonoscopy_findings" name="colonoscopy_findings" class="form-control" value="{{ request.POST.colonoscopy_findings }}">
                            </div>
                            <div class="form-group">
                                <label for="biopsy_results">Biopsy Results:</label>
                                <input type="file" id="biopsy_results" name="biopsy_results" class="form-control-file">
                            </div>
                            <div class="form-group">
                                <label for="ct_scan_results">CT Scan Results:</label>
                                <input type="file" id="ct_scan_results" name="ct_scan_results" class="form-control-file">
                            </div>
                            
                        
                    
                        <!-- Treatment History -->
                        <section class="treatment-history">
                            <h2>Treatment History</h2>
                            <div class="form-group">
                                <label for="treatment_plan">Treatment Plan:</label>
                                <input type="text" id="treatment_plan" name="treatment_plan" class="form-control" value="{{ request.POST.treatment_plan }}">
                            </div>
                            {% comment %} <div class="form-group">
                                <label for="date_of_initiation">Date of Initiation:</label>
                                <input type="text" id="date_of_initiation" name="date_of_initiation" class="form-control" value="{{ request.POST.date_of_initiation }}">
                            </div> {% endcomment %}
                            <div class="form-group">
                                <label for="response_to_treatment">Response to Treatment:</label>
                                <input type="text" id="response_to_treatment" name="response_to_treatment" class="form-control" value="{{ request.POST.response_to_treatment }}">
                            </div>
                            <div class="form-group">
                                <label for="complications">Complications:</label>
                                <input type="text" id="complications" name="complications" class="form-control" value="{{ request.POST.complications }}">
                            </div>
                        </section>
                    
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                    
            </main>
        </div>
</body>
</html>