{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medication Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
	
</head>
<body>
    <div class="main-wrapper">
		
        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav" style="padding-right:200px;">	
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index-2.html" class="navbar-brand logo">
                        <img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index-2.html" class="menu-logo">
                            <img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li >
                            <a href="{% url 'doctors_basedoctor' %}"class="nav-link" id="home">Home</a>
                        </li>
                     <li>
                            <a href="{% url 'doctors_leave' %}">Apply Leave</a>
                        </li> 
                        <li class="main-nav">
                            {% if existing_certification %}
                    
                            
                
                            {% if existing_certification.is_approved == 'approved' %}
                            <a href="{% url 'doctors_appointments' %}"class="nav-link" id="app">Appointments</a>
                            
                            {% else %}
                            <a href="{% url 'doctors_basedoctor' %}"class="nav-link" id="app">Appointments</a>                
                            {% endif %}
                          {% else %}
                          <a href="{% url 'doctors_basedoctor' %}"class="nav-link" id="app">Appointments</a>
                          {% endif %}
                            
                        </li>
                        
                        <li class="active">
                            <a href="{% url 'patientreferences' %}">Patient References</a>
                        </li>
                        {% comment %} <li class="main-nav">
                            <a href="{% url 'doctors_basedoctor' %}"class="nav-link">Refer a Patient</a>
                        </li> {% endcomment %}
                        
                        <li class="has-submenu"class="nav-link">
                                    <a href="#" id="prof"class="nav-link">Patients <i class="fas fa-chevron-down"></i></a>
                                    <ul class="submenu">
    
                                        <li>
                                            {% if existing_certification %}
                    
                            
                
                            {% if existing_certification.is_approved == 'approved' %}
                            <a href="{% url 'mypatients' %}"class="nav-link" id="patient">My Patients</a>
                            {% else %}
                            <a href="{% url 'doctors_basedoctor' %}"class="nav-link" id="patient">My Patients</a>               
                            {% endif %}
                          {% else %}
                          <a href="{% url 'doctors_basedoctor' %}"class="nav-link" id="patient">My Patients</a>   
                          {% endif %}
                            
                                            
                                        </li>
                                        
                                    </ul>
                                    
                                </li>
                            
                                <li class="has-submenu"class="nav-link">
                                    <a href="#"class="nav-link">Dashboard <i class="fas fa-chevron-down"></i></a>
                                    <ul class="submenu">
                                        <li>
                                            {% if existing_certification %}
                    
                            
                
                                            {% if existing_certification.is_approved == 'approved' %}
                                            <a href="{% url 'profileset' %}"class="nav-link">Profile Settings</a>
                                            {% else %}
                                            <a href="{% url 'doctors_basedoctor' %}"class="nav-link">Profile Settings</a>
                                            {% endif %}
                                          {% else %}
                                          <a href="{% url 'profileset' %}"class="nav-link" id="patient">Profile Settings</a>   
                                          {% endif %}
                                            
                                            
                                        
                                        </li>
    
                                        <li>
                                            {% if existing_certification %}
                    
                            
                
                                            {% if existing_certification.is_approved == 'approved' %}
                                            <a href="{% url 'changepass' %}"class="nav-link">Change Password</a>
                                            {% else %}
                                            <a href="{% url 'doctors_basedoctor' %}"class="nav-link">Change Password</a>
                                            {% endif %}
                                          {% else %}
                                          <a href="{% url 'changepass' %}"class="nav-link" id="patient">Change Password</a>   
                                          {% endif %}
                                            
                                            
                                        
                                        </li>
                                        
                                        
                                        
                                    </ul>
                                </li>
                        {% if user.is_authenticated %}
                        <li class="has-submenu">
                            <a href="#"><i class="fa fa-user-circle"> Welcome,Dr.{{ user.docprofile.name }}</i></a>
                            <ul class="submenu">
                                
                                <li><a href="{% url 'loggout' %}" id="logout">Logout</li></a>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{% url 'login_page' %}">Login</a></li>				
                        {% endif %}
                            </ul>
                        </li>
    
                    </ul>		 
                    
        </header>
        <div id="popup-message" class="alert alert-success" style="display: none;">
            Email has been sent successfully.
        </div>
        <!-- Breadcrumb -->
        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Refer a Patient</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Refer a Patient</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Breadcrumb -->
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2>Prescription</h2>
                    <form action="/submit_medication_details" method="post" class="appointment-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="patient_name">Name:</label>
                            <input type="text" id="patient_name" name="patient_name" class="form-control" value="{{ user.userprofile.name }}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="age">Age:</label>
                            <input type="number" id="age" name="age" class="form-control" value="{{ user.userprofile.age }}"readonly>
                        </div>
                        <div class="form-group">
                            <label for="medication_name">Medication Name:</label>
                            <input type="text" id="medication_name" name="medication_name" class="form-control" required>
                        </div>
        
                        <div class="form-group">
                            <label for="dosage_strength">Dosage Strength:</label>
                            <input type="text" id="dosage_strength" name="dosage_strength" class="form-control" required>
                        </div>
        
                        <div class="form-group">
                            <label for="dosage_form">Dosage Form:</label>
                            <input type="text" id="dosage_form" name="dosage_form" class="form-control" required>
                        </div>
        
                        <div class="form-group">
                            <label for="duration">Duration of Treatment:</label>
                            <input type="text" id="duration" name="duration" class="form-control" required>
                        </div>
        
                        <div class="form-group">
                            <label for="quantity">Quantity to Dispense:</label>
                            <input type="text" id="quantity" name="quantity" class="form-control" required>
                        </div>
        
                        <div class="form-group">
                            <label for="special_instructions">Special Instructions:</label>
                            <textarea id="special_instructions" name="special_instructions" class="form-control" rows="4" cols="50"></textarea>
                        </div>
        
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    
</body>
</html>
