{% comment %} {%load static%}
{% block title %}
RESET YOUR PASSWORD
<link rel="stylesheet" type="text/css" href="{% static 'css/pass.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post">
    {{ form.as_p }}
    <p class="center"><input type="submit" value="Send e-mail"></p>
    {% csrf_token %}
</form> 
{% endblock %}
</div>

 {% endcomment %}

 {% load static %}
{% block title %}
    <link rel="stylesheet" href="{% static 'login_css/passreset.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Reset Your Password</h1>
        <p>Forgotten your password? Enter your e-mail address to obtain a new password.</p>
        <form action="." method="post">
            <input type="email" name="email" placeholder="Enter email" required>
            <p class="center"><input type="submit" value="Send e-mail"></p>
            {% csrf_token %}
        </form>
        <a href="{% url 'login_page' %}" class="back-to-login">Back to Login</a>
    </div>
{% endblock %}

