{% comment %} {%load static%}
{% block title %}
RESET YOUR PASSWORD
<link rel="stylesheet" type="text/css" href="{% static 'css/pass.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="post">
    {{ form.as_p }}
    <p class="center"><input type="submit" value="Send e-mail"></p>
    {% csrf_token %}
</form> 
{% endblock %}
</div>

 {% endcomment %}
 {% load static %}
{% block title %}
    <link rel="stylesheet" href="{% static 'login_css/passreset.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'admin/assets/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/font-awesome.min.css' %}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/feathericon.min.css' %}">
		
		<link rel="stylesheet" href="{% static 'admin/assets/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Reset Your Password</h1>
                        <p class="text-center">Forgotten your password? Enter your e-mail address to obtain a new password.</p>
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Send Email</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'login_page' %}" class="btn btn-link">Back to Login</a>
                </div>
            </div>
        </div>
    
        </div>
    </div>
    <!-- jQuery -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
		
    <!-- Bootstrap Core JS -->
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    
    <!-- Slimscroll JS -->
    <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    
    <script src="assets/plugins/raphael/raphael.min.js"></script>    
    <script src="assets/plugins/morris/morris.min.js"></script>  
    <script src="assets/js/chart.morris.js"></script>
    
    <!-- Custom JS -->
    <script  src="assets/js/script.js"></script>
{% endblock %}

 

