{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>PATIENT-PAGE</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="assets/img/favicon.png" rel="icon">
		
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
	
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css'%}">
	
	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>
<div class="main-wrapper">
		
	<!-- Header -->
	<header class="header">
		<nav class="navbar navbar-expand-lg header-nav" style="padding-right:200px;">	
			<div class="navbar-header">
				<a id="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				<a href="index-2.html" class="navbar-brand logo">
					<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
				</a>
			</div>
			<div class="main-menu-wrapper">
				<div class="menu-header">
					<a href="index-2.html" class="menu-logo">
						<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);">
						<i class="fas fa-times"></i>
					</a>
				</div>
				<ul class="main-nav">
					<li class="active">
						<a href="{% url 'basepatient' %}">Home</a>
					</li>
					<li class="main-nav">
						<a href="{% url 'finddoctor' %}">Find a Doctor</a>
					</li>
					<li class="main-nav">
						<a href="{% url 'patient_bookappointment' %}">Book Appointment</a>
					</li>
					<li class="has-submenu">
								<a href="#">Medical Records <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'patient_medicalhistory' %}">Medical History</a></li>
									
								</ul>
								
							</li>	
					
							<li class="has-submenu">
								<a href="#">Dashboard <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
                                    <li><a href="{% url 'patientprofileset' %}">Profile Settings</a></li>
									
                                    
								</ul>
							</li>
					{% if user.is_authenticated %}
					<li class="has-submenu">
						<a href="#"><i class="fa fa-user-circle"></i></a>
						<ul class="submenu">
							<li><a>{{ user.username }}</li></a>
							<li><a href="{% url 'loggout' %}">Logout</li></a>
						</ul>
					</li>
					{% else %}
					<li><a href="{% url 'login_page' %}">Login</a></li>				
					{% endif %}
						</ul>
					</li>

				</ul>		 
			</div>		 
		</nav>
	</header>
	<!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Find Doctor</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Find Doctor</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
	<!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 col-lg-8 col-xl-9">
                   
                    
            <!-- Doctor Widget -->
                    <!-- Doctor Widget -->
                    <div class="row row-grid">
					
						{% for doctor in doctors %}
                            <div class="col-md-6 col-lg-4 col-xl-3">
                                <div class="card widget-profile doc-widget-profile">
                                    <div class="card-body">
                                        <div class="pro-widget-content">
											
                                            <div class="profile-info-widget">
                                                <a href="doctor-profile.html" class="booking-doc-img">
													
												{% if doctor.profile_pic %}
                                                    <img src="{{ doctor.profile_pic.url }}" alt="Doctor Image">
                                               
												{% else %}
												<img src="" alt="User Image">
												{% endif %}
												</a>
                                                <div class="profile-det-info">
													
                                                    <h3><a href="doctor-profile.html">{{  doctor.name  }}</a></h3>
													
                                                    
                                                    <div class="patient-details">
														<p>{{ doctor.services }}</p>

													
                                                        <h5><b>Email:</b> {{ doctor.email }}</h5>
														
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="patient-info">
                                            <ul>
                                                <li>Phone <span>{{ doctor.phone }}</span></li>
                                                <!-- Add other doctor-specific fields here -->
                                            </ul>
                                        </div>
										<div>
											{% comment %} <a href="{% url 'showmore' %}" >Show More <span>&rarr;</a> {% endcomment %}
												<a href="{% url 'patient_bookappointment' %}" >Book Appointment  <span>&rarr;</a> 
										</div>
                                        <div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
							{% endfor %}
                    </div>
                    
                    <!-- Doctor Widget -->
                    
	<script src="{% static 'assets/js/jquery.min.js'%} " ></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'assets/js/popper.min.js'%}">
	</script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	
	<!-- Slick JS -->
	<script src="{% static 'assets/js/slick.js'%}"></script>
	
	<!-- Custom JS -->
	<script src="{% static 'assets/js/script.js'%}"></script>

</body>
</html>

